
<div id="banner">

  <div id="menu">
    <ul>
      <li><a href="/">inicio</a></li>
      <li><a href="/#servicios">servicios</a></li>
      <li><a href="/#portafolio">portafolio</a></li>
      <li class="logo">
        <div id="logo">
          <img class="logo" src="../assets/logos/logo.light.png" />
        </div>
      </li>
      <li><a href="/#partners">partners</a></li>
      <li><a href="/#testimonios">testimonios</a></li>
      <li><a href="/#contacto">contacto</a></li>
    </ul>
  </div>

  <div id="introduccion">
    <div class="wrapper">
      <p>No solo te entregamos la solución que necesitas; queremos ser tu partner tecnológico, para que puedas enfocarte en lo que más importa, y permitirnos ayudarte a crecer</p>
    </div>
  </div>

  <div id="calltoaction">
    <div class="wrapper">
      <button type="button" class="btn">
        <a href="/#servicios">Más</a>
      </button>
    </div>
  </div>
  
  
</div>